<h1>RADIM!</h1>

<!-- <div class="px-4 mb-4 flex flex-grow">
  <div class="bg-white rounded-sm p-4 hover:shadow flex-grow items-stretch flex flex-col justify-between">
      <div class="h-48 bg-cover"></div>
      <h4 class="text-base text-grey-dark">ASDFASF</h4>
      <div class="flex justify-between items-center">
          <svg class="w-6 h-6 text-grey hover:text-red transition-fast" fill="currentColor">
              <use xlink:href="./assets/favorite.svg#Capa_1"/>
          </svg>
          <div>Ocijeni</div>
      </div>
    </div>
</div> -->
